body {
  font-family: Poppins;
}

.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.title {
  margin: 18px 0;
  font-size: 16px;
  font-weight: bold;
  color: #80AAD7;
}